name: 'Build & Release'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest

    steps:
      #1 Checkout Repository
      - name: Checkout Repository
        uses: actions/checkout@v4

      #2 Setup Java
      - name: Set Up Java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'oracle'
          java-version: '17'

      #3 Setup Flutter
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'

      #4 Install Dependencies
      - name: Install Dependencies
        run: flutter pub get

      #4.5 Generate translation files
      - name: Generate Translation Files
        run: flutter gen-l10n

      #5 Setup Keystore
      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/keystore.jks

      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=../keystore.jks" >> android/key.properties

      #6.1 Build App Bundle (AAB)
      - name: Build App Bundle
        run: flutter build appbundle --release --no-tree-shake-icons

      #6.2 Building APK
      - name: Build APKs (Split per ABI)
        run: flutter build apk --release --split-per-abi --no-tree-shake-icons

      #7 Upload to Play Store
      - name: Upload to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: de.doen1el.calibreWebCompanion
          releaseFiles: build/app/outputs/bundle/release/app-release.aab
          track: production
          status: completed
          changesNotSentForReview: true
          releaseName: 'Release ${{ github.run_number }}'

      # #8 Build iOS (.app)
      # - name: Build iOS (Unsigned)
      #   run: flutter build ios --release --no-codesign

      # #9 Create IPA for Sideloading
      # - name: Package IPA
      #   run: |
      #     mkdir Payload
      #     mv build/ios/iphoneos/Runner.app Payload/
      #     zip -qq -r release.ipa Payload

      #10 Upload Artifacts (APK,IPA)
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Releases
          path: |
            build/app/outputs/flutter-apk/*.apk

      #11 Extract Version
      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r' | sed 's/+.*//')
          echo "VERSION=$version" >> $GITHUB_ENV

      #12 Create GitHub Release
      - name: Create Release Draft
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'build/app/outputs/flutter-apk/*.apk'
          tag: v${{ env.VERSION }}-b${{ github.run_number }}
          draft: true
          token: ${{ secrets.TOKEN }}
          name: 'Release v${{ env.VERSION }}'
          generateReleaseNotes: true
